doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title A Simple Calculator
    link(rel='stylesheet', href='/css/app.css')
  body
    h1 A Simple Calculator
    h2 The simplest calculator in all the land.

    input#num1(type='text')
    span ?
    input#num2(type='text')
    span =
    span#answer

    br

    button#btnAdd +
    button#btnSub -
    button#btnMul *
    button#btnDiv /

    script(src='/js/vendor/jquery-2.1.0.js')
    script(src='/js/source/main.js')
